@import "./Header.scss";



// ********* some base styling for app.js

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.App-center{
    max-width: 414px;
    width: 414px;
    height: 90%;
    background-color: #fff;
   
}