@import "./color.scss";
header{
    width: 100%;
    background-color: $secondary-color;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    .hamburger{
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        #openMenu{
            display: none;
        }
        span{
            height: 2px;
            width: 33px;
            margin: 4px 0;
            background-color: $primary-color;
            &:nth-child(2){
                width: 25px;
            }
            &:nth-child(3){
                width: 18px;
            }
        }
    }
    .header-title{
        color:$primary-color;
        font-size: 1.5rem;
    }
    .darkmode-switch{
        width: 1.8rem;
        height: 1.8rem;
        color: $primary-color;
        padding-right: 15px;
    }
}
